<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
<body>
   <h1>Name: <%= member.username %></h1>
   <h3>Works at <%= member.job %></h3>
   <p>Age: <%= member.age %></p>
</body>
</html>